.container {
    margin-top: 30px;
}

.nav-link {
    color: #8D5A97
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
    border-color: #907F9F;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #907F9F;
}